/* vars ------------------------------------------------------------------- */
:root {
  --color__black: #000;
  --color__dark-blue: #252b42;
  --color__dark-blue-2: #17213c;
  --color__dark-green: #0d5c63;
  --color__orange: #e45f2a;
  --color__light-orange: #ff7b47;
  --color__gray-0: #737373;
  --color__gray-1: #fafafa;
  --color__gray-2: #dddddd;
  --color__gray-3: #b8b8b8;
  --color__gray-4: #f9f9f9;
  --color__gray-5: #f3f3f3;
  --color__gray-6: #e6e6e6;
  --color__white: #fff;
  --color__box-shadow: rgba(0, 0, 0, 0.07);
}

/* reset ---------------------------------------------------------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
  font-family: Montserrat, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: var(--color__dark-blue);
  background-color: var(--color__gray-1);
}

/* utils ----------------------------------------------------------------------------------------- */
._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

._container {
  max-width: 1086px; /* 1046 + padding (20 + 20) */
  margin: 0 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* button ----------------------------------------------------------------------------------------- */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 36px;

  border-radius: 37px;

  font-size: 14px;
  line-height: 200%;
  font-weight: 700;
  letter-spacing: 0.2px;

  cursor: pointer;
}

.button--primary {
  background-color: var(--color__light-orange);
  color: var(--color__white);
}

.button--primary:hover {
  opacity: 0.9;
}

.button--primary:focus {
}

.button--primary:active {
  background-color: var(--color__orange);
}

.button--secondary {
  background-color: transparent;
  color: var(--color__dark-green);
  border: 1px solid var(--color__dark-green);
}

.button--secondary:hover {
  opacity: 0.9;
  background-color: var(--color__gray-2);
}

.button--secondary:focus {
}

.button--secondary:active {
  background-color: var(--color__gray-3);
}

/* header-block ----------------------------------------------------------- */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 143%;
  margin-bottom: 10px;
}

.header-block__subtitle {
  font-size: 14px;
  line-height: 143%;
  color: var(--color__gray-0);
}

@media (max-width: 1024px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

/* header --------------------------------------------------------------------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 36px 20px;
}

.header__logo {
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
  margin-right: 132px;
}

.header__logo:hover {
  opacity: 0.8;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  font-weight: 600;
  color: var(--color__gray-0);
  letter-spacing: 0.2px;
}

.menu__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .header__logo {
    margin-right: 80px;
  }
}

@media (max-width: 560px) {
  .header__logo {
    margin-right: 40px;
  }
}

@media (max-width: 479px) {
  .header__logo {
    margin-right: 20px;
  }

  .header__container {
    padding: 16px 15px;
  }

  .menu__link {
    font-size: 18px;
  }
}

/* main --------------------------------------------------------------- */
.main {
  flex: 1 1 auto;
}

/* introduce --------------------------------------------------------------- */
.introduce {
  position: relative;
}

.introduce__container {
  position: relative;
  z-index: 1;
  padding: 184px 20px 191px 20px;
}

.introduce__body {
  max-width: 400px;
}

.introduce__body > *:not(:last-child) {
  margin-bottom: 35px;
}

.introduce__title {
  font-size: 58px;
  line-height: 138%;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.introduce__subtitle {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: var(--color__gray-0);
}

.introduce__buttons {
  display: flex;
  flex-wrap: wrap;
}

.introduce__button-primary {
  margin-right: 10px;
  width: 185px;
}

.introduce__button-secondary {
  width: 157px;
}

.introduce_ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .introduce_img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .introduce__container {
    padding: 120px 20px 191px 20px;
  }

  .introduce_img {
    opacity: 0.5;
  }
}

@media (max-width: 479px) {
  .introduce__container {
    padding: 120px 15px 161px 15px;
  }

  .introduce__body {
    max-width: 100%;
  }

  .introduce__title {
    font-size: 42px;
  }

  .introduce__button-primary {
    margin-right: 0;
    margin-bottom: 20px;
    flex: 1 1 100%;
    font-size: 16px;
  }

  .introduce__button-secondary {
    flex: 1 1 100%;
    font-size: 16px;
  }
}

/* services ------------------------------------------------------------------*/
.main__services {
  margin-top: -111px;
  position: relative;
  z-index: 1;
}

.services {
}

.services__container {
  padding: 0 20px;
}

.services__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.services__column {
  flex: 0 1 33.333%;
  padding: 0 15px;
}

.services__item {
}

.item-service {
  display: flex;
  flex-direction: column;
  padding: 35px 40px;
  background-color: var(--color__white);
  height: 100%;
  box-shadow: 0px 13px 19px 0px var(--color__box-shadow);

  cursor: pointer;
  transition: transform 0.3s;
}

.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-service__title {
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
}

.item-service__text {
  font-size: 14px;
  line-height: 143%;
  color: var(--color__gray-0);
}

.item-service:hover {
  transform: scale(1.1);
  background-color: var(--color__dark-green);
}

.item-service:hover .item-service__title {
  color: var(--color__white);
}

.item-service:hover .item-service__text {
  color: var(--color__white);
}

.item-service:hover .item-service__icon {
  filter: brightness(0) invert(1);
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}

@media (max-width: 670px) {
  .services__column {
    flex: 1 1 100%;
  }
}

/* info ----------------------------------------------------------------------- */
.main__info {
  padding: 80px 0;
}

.info {
}

.info__container {
  padding: 0 20px;
}

.info__header {
  margin-bottom: 50px;
}

.info__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px -30px;
}

.info__column {
  flex: 0 1 25%;
  padding: 0 20px;
  margin-bottom: 30px;
}

.info__item {
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 30px 40px;
  background-color: var(--color__white);
}

.item-info > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-info__icon {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item-info__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 143%;
  letter-spacing: 0.2px;
}

.item-info__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--color__gray-0);
}

@media (max-width: 1024px) {
  .info__body {
    margin: 0 -15px -30px;
  }

  .info__column {
    flex: 0 1 50%;
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .main__info {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .main__info {
    padding: 30px 0;
  }
}

@media (max-width: 560px) {
  .info__column {
    flex: 1 1 100%;
  }
}

/* practice ----------------------------------------------------------------------- */
.main__practice {
  padding: 125px 0 80px;
}

.practice {
}

.practice__container {
  padding: 0 20px;
}

.practice__header {
  margin-bottom: 50px;
}

.practice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px -30px;
}

.practice__column {
  flex: 0 1 25%;
  padding: 0 20px;
  margin-bottom: 30px;
}

.practice__item {
}

.item-practice {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color__white);
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__content > *:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__title {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-practice__title:hover {
  text-decoration: underline;
}

.item-practice__subtitle {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--color__gray-0);
}

.item-practice__img {
  padding: 0 0 60% 0;
}

@media (max-width: 1024px) {
  .practice__body {
    margin: 0 -15px -30px;
  }

  .practice__column {
    flex: 0 1 50%;
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .main__practice {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .main__practice {
    padding: 30px 0;
  }
}

@media (max-width: 560px) {
  .practice__column {
    flex: 1 1 100%;
  }
}

/* whoweare ----------------------------------------------------------------- */
.main__whoweare {
  padding: 100px 0 135px;
}

.whoweare {
  background-color: var(--color__white);
}

.whoweare__container {
  padding: 0 20px;
}

.whoweare__header {
  margin-bottom: 100px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 120px;
}

.whoweare__content-header {
  margin-bottom: 50px;
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.whoweare__info {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--color__gray-0);
}

.whoweare__content-body {
  display: flex;
  flex-direction: column;
}

.whoweare__content-body > *:not(:last-child) {
  margin-bottom: 30px;
}

.whoweare__item {
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  padding-right: 20px;
}

.item-whoweare__paragraph {
}

.item-whoweare__paragraph > *:not(:last-child) {
  margin-bottom: 5px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  text-align: left;
}

.item-whoweare__text {
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--color__gray-0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 225px;
  text-align: left;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 992px) {
  .main__whoweare {
    padding: 50px 0;
  }

  .whoweare__header {
    margin-bottom: 50px;
  }

  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .whoweare__body > *:not(:first-child) {
    margin: 0 0 30px 0;
  }

  .whoweare__video {
    padding: 0px 0px 56% 0px;
  }

  .whoweare__content {
    padding: 0;
    text-align: center;
  }

  .whoweare__content-header {
    margin-bottom: 30px;
  }

  .whoweare__title {
    font-size: 24px;
  }

  .whoweare__content-body {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .main__whoweare {
    padding: 30px 0;
  }
}

/* clients ---------------------------------------------------------------- */
.clients {
  padding: 50px 0;
}

.clients__container {
  padding: 0 20px;
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients__item {
  flex: 0 1 16.6667%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  min-width: 140px;
}

.client__icon img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .clients__container {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}

/* subscribe ----------------------------------------------------------------- */
.main__subscribe {
  margin: 20px 0px 0px 0px;
}

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: var(--color__dark-blue);
}

.subscribe__container {
  padding: 0 20px;
}

.subscribe__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  background-color: var(--color__dark-blue-2);
  padding: 30px 40px 30px 50px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: var(--color__white);
  max-width: 266px;
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  background-color: var(--color__gray-4);
  border: 1px solid var(--color__gray-6);
  border-radius: 5px;
}

.subscribe__email {
  flex: 1 1 auto;
  min-height: 58px;
  background-color: var(--color__gray-4);
  color: var(--color__gray-0);
  padding: 15px 20px;
}

.subscribe__email:focus {
  color: var(--color__black);
}

.subscribe__button {
  border-radius: 0 5px 5px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
}

@media (max-width: 1050px) {
  .subscribe__content {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .subscribe__content {
    display: block;
    margin: 0 -20px;
    padding: 20px;
  }

  .subscribe__title {
    max-width: 100%;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 560px) {
  .subscribe__title {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .subscribe__button {
    padding: 10px 15px;
  }
}

@media (max-width: 360px) {
  .subscribe__email {
    max-width: calc(100% - 94px); /* 94px - btn width */
  }
}

/* getintouch --------------------------------------------------------------------- */
.main__getintouch {
  padding: 80px 0px 180px 0px;
}

.getintouch {
  background-color: var(--color__gray-5);
}

.getintouch__container {
  padding: 0 20px;
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}

.getintouch__body {
  display: flex;
  align-items: center;
  margin: -10px -20px;
}

.getintouch__column {
  flex: 0 1 33.333%;
  padding: 10px 20px;
  min-width: 0;
}

.getintouch__item {
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color__white);
  padding: 50px;
  cursor: pointer;
  transition: all 0.3s, transform 0.5s;
}

.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch__icon {
  transition: transform 0.75s ease-in-out;
}

.item-getintouch__info {
  text-align: center;
}

.item-getintouch__link {
  font-weight: 600;
  letter-spacing: 0.2px;
}

.item-getintouch__link:hover {
  text-decoration: underline;
}

.item-getintouch__support {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-getintouch__submit {
  color: var(--color__light-orange);
  border: 1px solid var(--color__light-orange);
  border-radius: 5px;
  font-weight: 600;
}

.item-getintouch__submit:active {
  color: var(--color__dark-green);
  border: 1px solid var(--color__dark-green);
}

.item-getintouch:hover {
  background-color: var(--color__dark-blue);
  transform: scale(1.23);
  color: var(--color__white);
}

.item-getintouch:hover .item-getintouch__icon {
  filter: brightness(0) invert(1);
  transform: rotate(360deg);
}

.item-getintouch:hover .item-getintouch__submit {
  color: var(--color__white);
  border: 1px solid var(--color__white);
}

.item-getintouch:hover .item-getintouch__submit:hover {
  background-color: var(--color__white);
  color: var(--color__light-orange);
  border: 1px solid var(--color__light-orange);
  opacity: 1;
}

.item-getintouch:hover .item-getintouch__submit:active {
  background-color: var(--color__gray-2);
  color: var(--color__light-orange);
  border: 1px solid var(--color__light-orange);
}

@media (max-width: 1023px) {
  .main__getintouch {
    padding: 50px 0px 100px 0px;
  }

  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }

  .getintouch__body {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 479px) {
  .main__getintouch {
    padding: 30px 0px 50px 0px;
  }

  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }

  .item-getintouch__submit {
    padding: 10px 15px;
  }
}

/* contact-us ------------------------------------------------- */
.main__contact-us {
}

.contact-us {
  background-color: var(--color__white);
}

.contact-us__container {
  padding: 40px 20px;
}

.contact-us__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-us__content {
  padding: 0px 20px 0px 0px;
}

.contact-us__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  padding-bottom: 10px;
}

.contact-us__info {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--color__gray-0);
}

.contact-us__button {
  padding: 15px 40px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .contact-us__body {
    flex-direction: column;
    text-align: center;
  }

  .contact-us__body > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 479px) {
  .contact-us__title {
    font-size: 18px;
  }
}

/* footer ------------------------------------------------- */
/* footer-main ------------------------------------------ */
.footer {
}

.footer__main {
}

.main-footer {
  background-color: var(--color__dark-blue-2);
}

.main-footer__container {
  padding: 0 20px;
}

.main-footer__body {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  margin: 0 -15px;
}

.main-footer__column {
}

.footer-column {
  flex: 0 1 16.6667%;
  padding: 20px 15px;
  color: var(--color__white);
}

.footer-column:last-child {
  flex: 0 1 33.333%;
}

.footer-column__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  padding-bottom: 20px;
}

.footer-column__menu {
}

.menu-footer {
}

.menu-footer__list {
}

.menu-footer__item {
}

.menu-footer__item:not(:last-child) {
  padding-bottom: 10px;
}

.menu-footer__link {
  font-weight: 600;
  letter-spacing: 0.2px;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.footer-column__contacts {
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  padding: 0 0 0 44px;
  display: flex;
  align-items: center;
  min-height: 30px;
}

.contacts-footer__item:not(:last-child) {
  padding-bottom: 10px;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item--phone {
  background: url("../img/footer/main/01.svg") 0 0 no-repeat;
}

.contacts-footer__item--location {
  background: url("../img/footer/main/02.svg") 0 0 no-repeat;
}

.contacts-footer__item--email {
  background: url("../img/footer/main/03.svg") 0 0 no-repeat;
}

@media (max-width: 992px) {
  .footer-column {
    flex: 0 1 50%;
  }
  .footer-column:last-child {
    flex: 0 1 100%;
  }
}

/* footer-social ------------------------------------------ */
.footer__social {
}

.social-footer {
}

.social-footer__container {
  padding: 0 20px;
}

.social-footer__body {
  padding: 25px 40px 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-footer__label {
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--color__gray-0);
  padding-right: 20px;
}

.social-footer__links {
  display: flex;
  align-items: center;
}

.social-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-footer__link:not(:last-child) {
  margin-right: 20px;
}

.social-footer__link:hover {
  opacity: 0.8;
}

.social-footer__icon {
}

@media (max-width: 1050px) {
  .social-footer__body {
    padding: 25px 0 25px 0;
  }
}

@media (max-width: 768px) {
  .social-footer__body {
    flex-direction: column;
    text-align: center;
  }

  .social-footer__body > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
